<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div class="row">
    <div class="col-sm-3">
        <div class="card">
            <img src="http://image.yes24.com/goods/80084247/L" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">The Python - 파이썬 프로그래밍 1부</h5>
                <ul>
                    <li>허진경 저</li>
                    <li>2019년 07월</li>
                    <li>BOOKK(부크크)</li>
                    <li>22,000</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <img src="http://image.yes24.com/goods/80084247/L" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">The Python - 파이썬 프로그래밍 1부</h5>
                <ul>
                    <li>허진경 저</li>
                    <li>2019년 07월</li>
                    <li>BOOKK(부크크)</li>
                    <li>22,000</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <img src="http://image.yes24.com/goods/80084247/L" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">The Python - 파이썬 프로그래밍 1부</h5>
                <ul>
                    <li>허진경 저</li>
                    <li>2019년 07월</li>
                    <li>BOOKK(부크크)</li>
                    <li>22,000</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <img src="http://image.yes24.com/goods/80084247/L" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">The Python - 파이썬 프로그래밍 1부</h5>
                <ul>
                    <li>허진경 저</li>
                    <li>2019년 07월</li>
                    <li>BOOKK(부크크)</li>
                    <li>22,000</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card">
            <img src="http://image.yes24.com/goods/80084247/L" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">The Python - 파이썬 프로그래밍 1부</h5>
                <ul>
                    <li>허진경 저</li>
                    <li>2019년 07월</li>
                    <li>BOOKK(부크크)</li>
                    <li>22,000</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>